* {
    margin: 0;
    padding: 0;


}
h1{

font-family:verdana; 
color: brown;
font-style: italic;
text-align:center;

}

p{
    font-family:verdana;
    font-style: italic;
    font-size:larger;
    text-align:center;
    color:green;
    background-color: aqua;
    border-radius: 50px;
    font-size: larger;

}
body{
        margin: 10px;
        padding: 50px;
        text-align: center;
        background:darkorchid;
        
        
     
    }
    div{
        
        border-radius:0px;
         font-family:verdana;
         font-style: italic;
         border-right:4px solid red;
         border-left:3px solid red;
         border-top:3px solid black;
         border-bottom:1px solid black;
      
         
         
         }
   
    header{
        padding: 30px;
        background: lightpink;
        border-radius: 50px;
        border-bottom: 26px solid blue;
    
        border-top:20px solid red;
    }
    footer{
        padding: 20px;
        background: darkgoldenrod;
        border-top:20px solid blue;
        border-bottom: 20px solid red;
        border-radius:50px;
    }

   /* section{
        width: 65%;
        float: left;
        height: 360px;
        border-radius:50px;
        background-color: aqua;
        border-right:2px solid blue ;
        border-left: 2px solid black;
        border-top: 2px solid red;
        border-bottom: 2px solid red;
        

    }*/

    
    
    
    